.TodoList {
  padding: 0px 10px;
  height: 350px;
  overflow: scroll;
}

.Todo {
  display: flex;
}

.TodoContainer {
  display: flex;

  align-items: center;
}

.Todotext {
  margin: auto;
  padding-left: 10px;
}
